.nav-container{
    position: absolute;
    background-color: black;
    width: 100%;
    height: 60px;
    display: flex;
    top: 0;
    z-index: 1000;
    box-shadow: 0px 0px 4px #d2d2d2;
}

/* .brand-container{
    width: 27%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #ffffff;
} */

.nav-logo{
    display: flex;
    height: 60px;
    justify-content: flex-start;
    margin: auto;
}

.img-logo{
    height: inherit;
    /* z-index: 10000; */
}

.menu-container {
    background-color: white;
    width: 60px;
    height: 60px;
    padding: 10px;
    position: absolute;
    right: 0;
}