<div class="nav-container">
    <div class="brand-container">
        <div class="nav-logo">
            <img class="img-logo" src="../assets/nyt.png"/>
        </div>
    </div>
    <div class="menu-container">
        <img src="../assets/menu.svg"/>
    </div>
</div>