<app-header></app-header>
<div class="container-all">
    <div class="container-fluid">
        <div class="body-container">
            <div class="sub-header row">
                <div class="date-container">{{ dateToday | date : "EEEE, MMMM d, y" }}</div>
                <div class="subscribe-container">SUBSCRIBE</div>
                <div class="login-container">LOG IN</div>
            </div>
        </div>
        <div class="loading-screen-wrapper">
            <div class="loading-screen-icon" *ngIf="loading">
                Loading Article ...
            </div>
        </div>

        <!-- Main Article -->
        <div class="main-article" *ngIf="!loading">
            <div class="button-container"><button (click)="goBack()" class="btn back-button">
                    < RETURN TO HOMEPAGE</button>
            </div>
            <div class="head-line">
                <div class="section">{{ section | uppercase }} NEWS</div>
                <div id="title-string" class="title-line"></div>
                <div class="published-info">Published {{ publishedDate | date : "EEEE, MMMM d, y, h:mm a" }}</div>
                <div class="published-info">{{ source }}</div>
            </div>
            <div id="article-string" class="story-line"></div>
            <div class="button-container bottom-button-margin"><button (click)="goBack()" class="btn back-button">
                    < RETURN TO HOMEPAGE</button>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>