.container-fluid {
    margin-top: 60px;
}

.sub-header {
    height: 40px;
    border-bottom: solid 0.5px lightgray;
    padding-left: 15px;
    padding-right: 15px;
}

.body-container {
    padding-left: 15px;
    padding-right: 15px;
}

.date-container, .login-container, .subscribe-container {
    display: flex;
    align-items: center;
}

.date-container {
    width: 80%;
}

.subscribe-container {
    color: #F5C52C;
    font-weight: bold;
    justify-content: flex-end;
    width: 10%;
    cursor: pointer;
}

.login-container {
    font-weight: bold;
    justify-content: flex-end;
    width: 10%;
    cursor: pointer;
}

.main-article {
    width: 60%;
    margin: auto;
}

.back-button {
    color: white;
    background-color: #F5C52C;
    border: solid #F5C52C;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.bottom-button-margin {
    margin-bottom: 20px;
}

.section {
    color: #F5C52C;
    font-size: 1.5em;
}

.published-info {
    color: gray;
    font-size: 1em;
}

.head-line {
    margin-top: 50px;
}

.story-line {
    margin-top: 30px;
    font-size: 1.1em;
}

.container-all {
    min-height: 100vh;
}

.loading-screen-wrapper {
    text-align: center;
    color: #F5C52C;
    font-size: 1.6em;
    margin-top: 50px;
}

@media only screen and (max-width: 1000px) {
    .main-article {
        width: 80%;
    }
}

@media only screen and (max-width: 750px) {
    .main-article {
        width: 85%;
    }
}
  
@media only screen and (max-width: 700px) {
    .main-article {
        width: 100%;
    }

    .subscribe-container {
        display: none;
    }

    .login-container {
        display: none;
    }

    .head-line {
        margin-top: 30px;
    }
}



