.with-margin {
  margin: 10px;
}

.btn-more-details {
  color: #fff;
  background-color: #F5C52C;
  border-color: #F5C52C;
  width: 9em;
  display: flex;
  justify-content: center;
  float: right
}

.container-fluid {
  margin-top: 60px;
}

.sub-header {
  height: 40px;
  border-bottom: solid 0.5px lightgray;
  padding-left: 15px;
  padding-right: 15px;
}

.body-container {
  padding-left: 15px;
  padding-right: 15px;
}

.date-container, .login-container, .subscribe-container {
  display: flex;
  align-items: center;
}

.date-container {
  width: 80%;
}

.subscribe-container {
  color: #F5C52C;
  font-weight: bold;
  justify-content: flex-end;
  width: 10%;
  cursor: pointer;
}

.login-container {
  font-weight: bold;
  justify-content: flex-end;
  width: 10%;
  cursor: pointer;
}

.search-term {
  width: 100%;
  border: 1px solid white;
  border-right: none;
  padding: 5px;
  height: 40px;
  border-radius: 5px 0 0 5px;
  outline: none;
  background: white;
}

.search-icon-box {
  width: 50px;
  height: 40px;
  border: 1px solid white;
  background: white;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  font-size: 20px;
}


.search-icon {
  height: 25px;
}

.sort-label {
  cursor: pointer;
  font-weight: 500;
}

.sort-by {
  padding: .375rem .75rem;
}

.pagination-div {
  width: 80%;
  margin: auto;
  margin-top: 20px;
}

.articles-container {
  margin-top: 20px;
}

.main-body {
  width: 60%;
  margin: auto;
}

.search {
  width: 80%;
  margin: auto;
  display: flex;
  padding-top: 25px;
}

.sort-filter {
  width: 80%;
  margin: auto;
}

.search-bar-container {
  margin-top: 20px;
  background-color: #F5C52C;
}

.ewan {
  border-top: solid 0.5px lightgray;
  border-bottom: solid 0.5px lightgray;
  padding: 5px 10px 10px 10px;
}

.publish-date {
  color: gray;
  font-size: 0.9em;
}

.container-all {
  min-height: 100vh;
}

.news-title {
  font-size: 2em;
  font-weight: 600;
}

.abstract {
  font-size: 1em;
}

.loading-screen-wrapper {
  text-align: center;
  color: #F5C52C;
  font-size: 1.6em;
  margin-bottom: 20px;
}

@media only screen and (max-width: 1200px) {
  .pagination-div {
    width: 100%;
  }
}  

@media only screen and (max-width: 1000px) {
  .main-body {
    width: 80%;
  }

  .pagination-div {
    width: 90%;
  }
}

@media only screen and (max-width: 850px) {
  .pagination-div {
    width: 100%;
  }
}

/* @media only screen and (max-width: 1120px) {
  .pagination-div {
    width: 60%;
  }
}

@media only screen and (max-width: 950px) {
  .pagination-div {
    width: 70%;
  }
}

@media only screen and (max-width: 820px) {
  .pagination-div {
    width: 80%;
  }
}

@media only screen and (max-width: 720px) {
  .pagination-div {
    width: 90%;
  }
} */

@media only screen and (max-width: 750px) {
  .main-body {
    width: 85%;
  }
}

@media only screen and (max-width: 700px) {
  .main-body {
    width: 100%;
  }

  .subscribe-container {
    display: none;
  }

  .login-container {
    display: none;
  }
}

@media only screen and (max-width: 660px) {
  .pagination-div {
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .pagination-div {
    width: 60%;
  }
}

@media only screen and (max-width: 550px) {
  .search, .sort-filter {
      width: 90%;
      margin: auto;
  }

  .body-container {
    padding-left: 0px;
    padding-right: 0px;
  }

  .news-title {
    font-size: 1.6em;
  }
}

@media only screen and (max-width: 500px) {
  .pagination-div {
    width: 70%;
  }
}

@media only screen and (max-width: 450px) {
  .pagination-div {
    width: 80%;
  }
}

@media only screen and (max-width: 400px) {
  .pagination-div {
    width: 90%;
  }
}

@media only screen and (max-width: 350px) {
  .pagination-div {
    width: 100%;
  }
}



