<app-header></app-header>
<div class="container-all">
  <div class="container-fluid">
    <div class="body-container">
      <div class="sub-header row">
        <div class="date-container">{{ dateToday | date : "EEEE, MMMM d, y" }}</div>
        <div class="subscribe-container">SUBSCRIBE</div>
        <div class="login-container">LOG IN</div>
      </div>
      <div class="main-body">
        
        <!-- Search Bar -->
        <div class="search-bar-container">
          <div class="search">
            <input [(ngModel)]="inputValue" (ngModelChange)="onSearchInputChange($event)" class="search-term" placeholder="Search The New York Times" />
            <div class="search-icon-box">
              <img class="search-icon" src="../assets/search.svg" />
            </div>
          </div>
          <div class="row sort-filter">
            <div class="sort-by">Sort Articles by:</div>
            <div class="btn sort-label" (click)="onClickSortEvent()">{{ sortValue | titlecase }}</div>
          </div>
        </div>
      
        <!-- Table for the News Articles -->
        <div class="articles-container">
          <div class="loading-screen-wrapper">
            <div class="loading-screen-icon" *ngIf="loading">
                Loading table ...
            </div>
          </div>
          <div class="news-table">
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
              class="article-table display row-border hover table-data-style" maxlength="25">
              <tbody>
                <tr *ngFor="let article of articles | paginate: config">
                  <td class="ewan">
                    <div class="news-title">{{ article.headline.main }}</div>
                    <p class="abstract">{{ article.abstract }}</p>
                    <p class="publish-date">{{ article.publishedDate | date : "EEEE, MMMM d, y, h:mm a" }}</p>
                    <button class="btn btn-more-details" (click)="viewArticle(article._id)">More details</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <!-- Pagination -->
        <div class="pagination-div" *ngIf="!loading">
          <pagination-controls [maxSize]="maxSize" [autoHide]="autoHide" [responsive]="responsive"
            [screenReaderPaginationLabel]="labels.screenReaderPaginationLabel"
            [screenReaderPageLabel]="labels.screenReaderPageLabel"
            [screenReaderCurrentLabel]="labels.screenReaderCurrentLabel" (pageChange)="pageChanged($event)">
          </pagination-controls>
        </div>
        
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>