<div class="footer-container">
    <div class="content-container">
        <div class="subscribe-template row">
            <div class="subscribe-placeholder">
                <div class="subscribe">SUBSCRIBE</div>
                <div class="subscribe-sub">Be in the know. Get the latest news delivered to your inbox.</div>
            </div>
            <div class="sign-up">
                <input class="email-input" placeholder="Sign up with your Email." />
                <div class="sign-up-button">SIGN UP</div>
            </div>
        </div>
        <div class="subscribe-bottom-template row">
            <div class="sns-container">
                <div class="ny-times-container">
                    <img class="ny-times-logo" src="../assets/nytimes logo.png"/>
                </div>
                <div class="sns row">
                    <div class="facebook-container">
                        <img class="facebook-logo" src="../assets/facebook.svg"/>
                    </div>
                    <div class="twitter-container">
                        <img class="twitter-logo" src="../assets/twitter.svg"/>
                    </div>
                    <div class="youtube-container">
                        <img class="youtube-logo" src="../assets/youtube.svg"/>  
                    </div>
                    <div class="instagram-container">
                        <img class="instagram-logo" src="../assets/instagram.svg"/>
                    </div>
                </div>
            </div>
            <div class="links-container">
                <div class="links-row-top row">
                    <div class="terms-of-use">TERMS OF USE</div>
                    <div class="private-policy">PRIVATE POLICY</div>
                    <div class="accessibility">ACCESSIBILITY</div>
                </div>
                <div class="links-row-bottom row">
                    <div class="license">LICENSE FOOTAGE</div>
                    <div class="resources">RESOURCES</div>
                    <div class="about-us">ABOUT US</div>
                </div>
                <div class="all-rights-reserved row">@2020 New York Times. All Rights Reserved.</div>
            </div>
        </div>
    </div>
</div>
