.footer-container {
    background-color: #F5C52C;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    bottom: 0;
}

.subscribe-placeholder {
    width: 50%;
    padding-right: 20px;
    padding-left: 20px;
}

.sign-up {
    width: 50%;
    padding-left: 20px;
    margin-top: 12px;
    display: flex;
}

.content-container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 30px;
}

.email-input {
    height: 45px;
    width: 50%;
    padding-left: 10px;
    border: solid white
}

.sign-up-button {
    background-color: black;
    color: white;
    height: 45px;
    width: 80px;
    padding-top: 10px;
    text-align: center;
    cursor: pointer;
}

.subscribe {
    font-size: 2em;
    font-weight: 700;
    text-align: right;
}

.subscribe-sub {
    text-align: right;
    margin-top: -10px;
}

.sns-container {
    width: 40%;
    padding-right: 20px;
}

.links-container {
    width: 60%;
    padding-left: 35px;
    padding-right: 15px;
}

.links-row-top {
    font-weight: 700;
    margin-top: 20px;
}

.links-row-bottom {
    font-weight: 700;
    margin-top: 20px;
}

.terms-of-use, .private-policy, .accessibility, .license, .resources, .about-us {
    width: 25%;
    cursor: pointer;
    
}

.facebook-container, .twitter-container, .youtube-container, .instagram-container {
    width: 13%;
}

.facebook-logo, .twitter-logo, .youtube-logo, .instagram-logo {
    width: 50%;
    cursor: pointer;
}

.ny-times-container {
    text-align: right;
    margin-top: 20px;
}

.ny-times-logo {
    height: 45px;
}

.sns {
    justify-content: flex-end;
    margin-top: 15px;
}

.all-rights-reserved {
    margin-top: 15px;
    color: white;
    padding-bottom: 10px;
    font-size: 0.9em;
}

.subscribe-bottom-template {
    margin-top: 25px;
}

@media only screen and (max-width: 1000px) {
    .email-input {
        width: 60%;
    }

    .terms-of-use, .private-policy, .accessibility, .license, .resources, .about-us {
        width: 33.33%;
    }
    
}


@media only screen and (max-width: 850px) {
    .content-container {
        width: 80%;
        margin: auto;
    }

    .subscribe-placeholder {
        width: 80%;
        margin: auto;
        padding-left: 0;
    }

    .content-container {
        padding-top: 15px;
    }
    
    .sign-up {
        width: 80%;
        margin: auto;
        margin-top: 10px;
    }

    .ny-times-container {
        text-align: center;
    }

    .facebook-container, .twitter-container, .youtube-container, .instagram-container {
        width: 10%;
        text-align: center;
    }

    .sns {
        justify-content: center;
    }

    .subscribe, .subscribe-sub {
        text-align: left;
        padding-left: 20px;
    }

    .sns-container {
        width: 100%;
    }

    .links-container {
        width: 80%;
        margin: auto;
    }

    .terms-of-use, .private-policy, .accessibility, .license, .resources, .about-us {
        width: 33.33%;
    }
}

@media only screen and (max-width: 700px) {
    .subscribe-placeholder {
        width: 100%;
        padding-left: 0;
    }

    .sign-up {
        width: 100%;
        margin-top: 10px;
    }

    .facebook-container, .twitter-container, .youtube-container, .instagram-container {
        width: 13%;
        text-align: center;
    }

    .links-container {
        width: 100%;
    }

    .links-row-top, .links-row-bottom {
        margin-top: 10px;
    }

}

@media only screen and (max-width: 550px) {
    .content-container {
        width: 100%;
    }

    .links-row-top, .links-row-bottom, .subscribe-sub, .all-rights-reserved {
        font-size: 0.8em;
    }

    .links-row-top, .links-row-bottom {
        margin-top: 5px;
    }

    .subscribe {
        font-size: 1.6em;
    }

    .email-input {
        height: 30px;
        font-size: 0.8em;
        width: 65%;
    }

    .sign-up-button {
        height: 30px;
        font-size: 0.8em;
        padding-top: 5px;
    }

    .ny-times-logo {
        height: 40px;
    }

    .ny-times-container {
        margin-top: 10px;
    }

    .sns-container {
        padding-left: 15px;
    }

    .sns {
        margin-top: 10px;
    }
}

@media only screen and (max-width: 450px) {
    .ny-times-logo {
        height: 35px;
    }

    .sns {
        margin-top: 5px;
    }

    .subscribe-bottom-template {
        margin-top: 5px;
    }
}