/* You can add global styles to this file, and also import other style files */
.container-all {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    min-height: 100vh;
    max-width: 100%;
    margin: 0px;
    padding: 0px;
    flex-direction: column;
}